
.jumbotron {
display: grid;
color: white;
justify-content: center;
background-image: url("/img/land2.jpg");
}

#info {
display: grid;
justify-content: center;
background-color: black;
}

.center {
    display: flex;
    justify-content: center;
}